@media only screen and (min-width: 0rem) {
  #contact-us {
    padding: var(--sectionPadding);
    margin: 1.5rem;
  }
  #contact-us .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
    margin-top: 3rem;
    font-family: "Poppins", serif;
  }
  #contact-us .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #contact-us .cs-topper {
    font-size: 14px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: #007bff;
    margin-bottom: 0.25rem;
    display: block;
  }
  #contact-us .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 32.625rem;
    margin: 0 0 1rem 0;
    color: #0056b3;
    position: relative;
  }
  #contact-us .cs-text {
    font-size: 16px;
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 35rem;
    margin: 0;
    color: grey;
  }
  #contact-us #form {
    width: 100%;
    margin-bottom: clamp(2rem, 5.3vw, 2.5rem);
    padding: clamp(1.25rem, 4.5vw, 2.5rem);
    box-sizing: border-box;
    border: 1px solid #dad9e3;
    border-radius: 1rem;
  }
  #contact-us .cs-label {
    font-size: clamp(0.875rem, 1.3vw, 1rem);
    line-height: 1.5em;
    font-weight: 700;
    margin-bottom: clamp(1rem, 1em, 1.25rem);
    color: var(--headerColor);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  #contact-us .cs-label-message {
    margin-bottom: clamp(2rem, 4.5vw, 2.5rem);
  }
  #contact-us .cs-input,
  #contact-us .cs-textarea {
    font-size: 1rem;
    width: 100%;
    height: 4rem;
    margin-top: 0.25rem;
    padding-left: 1.25rem;
    border: 1px solid transparent;
    border-bottom: 1px solid #b4b2c7;
    box-sizing: border-box;
    transition: border 0.3s;
  }
  #contact-us .cs-input:hover,
  #contact-us .cs-textarea:hover {
    border: 1px solid var(--primary);
  }
  #contact-us .cs-input::placeholder,
  #contact-us .cs-textarea::placeholder {
    color: #7d799c;
  }
  #contact-us .cs-textarea {
    font-family: inherit;
    margin: 0;
    padding-top: 1.25rem;
    min-height: 7.5rem;
  }
  #contact-us .cs-button-solid {
    font-size: 1rem;
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: #007bff;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
  }
  #contact-us .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #0056b3;
    opacity: 1;
    top: 0;
    left: 0;
    color: #0056b3;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #contact-us .cs-button-solid:hover:before {
    width: 100%;
  }
  #contact-us .cs-submit {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
  }
  #contact-us .cs-submit:hover {
    cursor: pointer;
  }
  #contact-us .cs-right-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: clamp(1.75rem, 4vw, 2.5rem);
    position: relative;
  }
  #contact-us .cs-ul {
    padding: 0;
    padding-left: clamp(1rem, 3vw, 2rem);
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  #contact-us .cs-li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #contact-us .cs-li:hover .cs-icon-wrapper {
    transform: scale(1.2);
  }
  #contact-us .cs-li:nth-of-type(2) {
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #dad9e3;
  }
  #contact-us .cs-header {
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 0.5rem;
    color: var(--headerColor);
    display: block;
  }
  #contact-us .cs-link {
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    text-decoration: none;
    color: var(--bodyTextColor);
    position: relative;
  }
  #contact-us .cs-link:hover:before {
    width: 100%;
  }
  #contact-us .cs-link:before {
    content: "";
    width: 0%;
    height: 2px;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
  }
  #contact-us .cs-block {
    display: block;
  }
  #contact-us .cs-icon-wrapper {
    margin-right: clamp(2rem, 2.5vw, 2.25rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    transition: transform 0.3s;
  }
  #contact-us .cs-icon {
    width: clamp(2rem, 3vw, 2.25rem);
    height: auto;
    display: block;
  }
  #contact-us .cs-picture {
    width: 100%;
    border-radius: clamp(1rem, 1.5vw, 1.25rem);
    overflow: hidden;
    display: block;
    position: relative;
    aspect-ratio: 1.44;
    margin-left: 3rem;
  }
  #contact-us .cs-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
@media only screen and (min-width: 43.75rem) {
  #contact-us #form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    order: 2;
  }
  #contact-us .cs-label {
    width: 48%;
  }
  #contact-us .cs-label-message {
    width: 100%;
  }
  #contact-us .cs-button-solid {
    margin-left: 0;
  }
  #contact-us .cs-right-section {
    flex-direction: row;
    align-items: center;
  }
}
@media only screen and (min-width: 64rem) {
  #contact-us .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 1.25em;
    row-gap: 4rem;
  }
  #contact-us #form {
    width: 50%;
    max-width: 40.625rem;
  }
  #contact-us .cs-label {
    width: 100%;
  }
  #contact-us .cs-right-section {
    width: 45%;
    max-width: 33.875rem;
    flex: none;
    flex-direction: column;
  }
  #contact-us .cs-block {
    display: inline-block;
  }
  #contact-us .cs-picture {
    width: 100%;
    max-width: 100%;
    height: 27.375rem;
  }
}
